<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <title>{{ .Title }}</title>
  <meta name="description" content={{or .Params.description .Site.Params.description }} >
</head>
<body>
  <div class="container">
    {{ partial "navbar" . }}
    {{ block "main" . }} {{ end }}
    {{ partial "footer" . }}
  </div>
  <script src="/JS/app.js"></script>
</body>
</html>